@use '../custom' as *;

.flex {
    display: flex;
}

.hero-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

.hero-section {
    background-image: url('../../images/bg-top.svg');
    padding: 3rem 0 0 0;
    width: 100%;
    height: 1250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-image {

    img {
        border-radius: 100%;
        width: 90%;
        height: 90%;
    }
}

.hero-icons {
    justify-content: center;
    align-items: center;
    margin-top: 330px;

}

.hero-icon {
    background-color: $white;
    width: 168px;
    height: 183px;
    margin: 0 5rem;
    border: 2px solid $purple-light;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;

    &--img {
        height: 50px;
        width: 50px;
    }

    &--img3 {
        height: 45px;
        width: 45px;
    }

    &--header {
        font-size: 24px;
        font-weight: 800;
        padding-top: 1rem;
        color: $purple-deep;
        line-height: 28.8px;
    }

    &--info {
        font-size: 16px;
        font-weight: 500;
        color: $purple-deep;
        line-height: 21.09px;
    }
}
