@use '../custom' as *;

.flex {
    display: flex;
}

.hero-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.hero-image {
    border-radius: 100%;

}

.hero-icons {
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.hero-icon {
    background-color: $white;
    padding: 3rem;
    width: 168px;
    height: 183px;
    margin: 5rem;
    border-radius: 1rem;
}

.even-column {
    padding-top: 8rem;
}
