@use '../custom' as *;


.btn-rounded {
    position: relative;
    padding: 0.4rem 1.2rem;
    font-weight: 600;
    margin: 0;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid $accent;
    background-color: $accent;
    color: $white;

    &:hover {
        background-color: $white;
        color: $purple-deep;
        border: 2px solid $white;
    }
}


.btn-rounded-in {
    position: relative;
    padding: 0.4rem 1.2rem;
    font-weight: 600;
    margin: 0;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid $accent;
    background-color: $primary;
    color: $white;

    &:hover {
        background-color: $accent;
        color: $purple-deep;
    }
}
