@use '../custom' as *;

body {
    font-family: 'Lato', sans-serif;
}
.intro-text {
    margin-bottom: 1rem;

    &--intro {
        display: inline-block;
        font-weight: 900;
        font-size: 4rem;
    }

    &--description {
        font-size: 1.3rem;
        display: block;
        margin-top: 1.2rem;
    }
}
